input.large, select.large {
    width: 80% !important;
}

textarea.textarea {
    width: 293px !important;
    min-width: 80% !important;
    max-width: 80% !important;
}

.wufoo .info div {
    font-size: 120% !important;
    font-family: Georgia !important;
    font-style: normal !important;
    font-weight: normal !important;
    color: #808e94 !important;
}

#logo {
    background-image: none !important;
    background-color: transparent !important;
    display: none !important;
}

.info {
    display: inline-block !important;
    clear: both !important;
    margin: 0 0 5px 0 !important;
    padding: 0 1% 1.1em 1% !important;
    border-bottom: 1px dotted #ccc !important;
    margin-top: -40px !important;
}
